<div class="container">
    <!-- <div class="row  p-1 m-1">
        <div class="col-2">ID</div>
        <div class="col-2">First Name</div>
        <div class="col-2">Last Name</div>
        <div class="col-2">Email</div>
        <div class="col-2">Edit</div>
        <div class="col-2">Delete</div>
    </div>
    <div class="row  p-1 m-1" *ngFor="let student of students">
        <div class="col-2">{{student.sId}}</div>
        <div class="col-2">{{student.fname}}</div>
        <div class="col-2">{{student.lname}}</div>
        <div class="col-2">{{student.email}}</div>
        <div class="col-2"><button class="btn btn-success">Edit</button></div>
        <div class="col-2"><button class="btn btn-danger" (click)="delete(student)">Delete</button></div>
    </div> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{student.sId}}</th>
                <td>{{student.fname}}</td>
                <td>{{student.lname}}</td>
                <td>{{student.email}}</td>
                <td><button class="btn btn-success" (click)="edit(student)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="delete(student)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button routerLink="/add" class="btn btn-primary">Add new student</button>
    </div>
</div>
<!-- <ul>
    <li *ngFor="let student of students">
        firstname:{{student.sId}}
    </li>
</ul> -->